html
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 10px;
    background: #E7EDF6;
    position: relative;
}

.container
{
    margin: auto;
    width: 100%;
    height: 100%;
}

.logo
{
    width: 100%;
    float: left;
}

.left
{
    float: left;
    width: 70%;
    height: 90%;
    border-radius: 24px;
    /* background: red; */
}

.right
{
    float: right;
    width: 20%;
    height: 90%;
    border-radius: 24px;
    background: white;
    text-align: center;
    margin-right: 1%;
    /* padding: 7% 0; */
}

.left-button
{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    /* background: pink; */
    text-align: center;
}

.mensaje-alerta
{
    display: block;
    align-items: center;
    /* background: yellow; */
}

span /* exclamacion */
{
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    border-radius: 24px;
    background: #0A3871;
    color: white;
    vertical-align: baseline;
}

.logoImg
{
    margin-top: 1%;
    margin-left: 1%;
    float: inherit;
}

.titulo
{
    float: inherit;
    margin-left: 20%;
}

.text-input
{
    float: left;
    margin: 10% 5% 10% 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #E7EDF6;
    /* background: green; */
    resize: none;
    padding: 0 0 10% 0;
}

#imgDer
{
    margin-top: 40%;
    margin-left: 2%;
    width: 90%;
    height: auto;
}

#texto
{
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
}

#texto2
{
    margin-top: 5%;
    margin-bottom: 30%;
    color: #0A3871;
    width: 90%;
    height: auto;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    text-align: center;
    /* background: green; */
}

#minus
{
    /* margin-top: 10%; */
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
    font-family: "Comic Sans MS", "Comic Sans";
    color: #0A3871;
}

.botones
{
    margin-top: 1%;
}

#boton-encriptar
{
    margin: 5%;
    padding: 24px;
    margin: 1%;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    background: #0A3871;
    color: white;
    font-size: 20px;
    font-family: monospace;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #000000;
}

#boton-desencriptar
{
    padding: 24px;
    margin: 1%;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    background: #D8DFE8;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 0px 0px 20px 3px #000000;
}

#copiar
{
    margin-left: 33%;
    margin-top: 3.5px;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
    font-size: 20px;
    font-family: monospace;
    border: none;
    cursor: pointer;
    float: bottom;
}
